#home {
    
    height: 100vh;
    margin-top: 90px;
    background-image: url('full.jpg');
    background-position: left center;
    background-size: cover;
    background-color: #080808;
}

nav {
  display: flex;
  align-items: center;
  gap: 20px;

}
body{
    background-color: black;
}
#pretty{
    color: #410000;
}
#pretty{
    color: #888;
}
.ds{
    color: #c8a86e;
    font-weight: 100;
    font-style: italic;
}
#tit{
    color: #e7e7e7;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    margin-top: 0%;
    margin-bottom: 20px;
    font-weight: 100;
    letter-spacing: 1px;

}
#welcoming{
    font-size: 95px;
    color: rgb(253, 253, 253);
    font-family: 'Bebas Neue', sans-serif;
    margin-bottom: 40px;
}
#brown-un{
    color: #C8A96E;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 100;
}

#brown-un:hover{
    color: #410000;
    text-decoration: line;
    text-decoration-color: #C8A96E;
}
#innav{
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: Uppercase;
    color: #888;
    text-decoration: line;
    text-decoration-color: #C8A96E;
    line-height: 0.2px;
}
#innav:hover{
    font-family: 'Inter', sans-serif;
    color: #410000
    ;
    text-decoration-color: none;
}
nav{
    display: flex;
    align-items: center;
    gap: 40px;
}
.po{
    margin-left: 90px;
    
}

.discover{
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0);
    border: 0.0001px solid #C8A96E;
    padding: 19px 37px;
}
.discover a {
    color: #C8A96E;
    font-size: 25px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: Uppercase;
    text-decoration: none;
}
.discover a:hover{
    color: #410000;
    font-size: 25px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: Uppercase;
}


.login-btn {
    font-family: 'Inter', sans-serif;
    font-size: 11px;
    letter-spacing: 2px;
    text-transform: uppercase;
    
    background: transparent;
    border: 0.5px solid #c8a86e;
    padding: 8px 20px;
    border-radius: 2px;
    cursor: pointer;

}
.login-btn a {
color: #c8a86ef1;
text-decoration: none;
}
.login-btn a:hover{
    color: #410000;
}


/* the about style is here */
#about{
    height: 80vh;
    margin-top: 30px;
    margin-bottom: 40px;
}

#general {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.d1, .d2, .d3 {
    flex: 1;
}

.d2 {
    text-align:left;
    line-height: 29px;
}

.d1 , .d3{
    margin-inline: 60px;
}

#dream{
    font-style: italic;
    font-weight: 100;
    color: #c8a86e;
    font-family: "Great Vibes", cursive;
}
.d1 img, .d3 img {
    width: 100%;
    height: 630px;
    display: block;
}
.d1 img:hover {
    filter: blur(1px);
}
.d3 img:hover {
    filter: blur(1px);
}
#titreabout{
    margin-top: 0%;
    color:#c8a86e;
    text-align: left;
    font-size: 35px;
    font-family: 'Bebas Neue', sans-serif;
}
.pabout{
    color: rgb(253, 253, 253);
    text-align: left;
    font-size: 21px;
    font-family: 'Inter', sans-serif;
}


/*editing gallery*/

#gallery{
    margin-top: 30px;
    height: 90vh;
}
.gallery-g {
    display: flex;
    gap: 16px;
}


.gallery-g img {
    width: 22.5%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 40px;
    border: 5px solid #C8A96E;
    
    
}
.gallery-g img:hover {
    width: 22.5%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 40px;
    border: 5px solid #410000
    
}


#left{
margin-inline-start: 50px;
}
#right{
    margin-inline-end: 60px;
}

#g2{
    color: #dadadae7;
    font-family: 'Inter', sans-serif;
    margin-inline-start: 60px;
    margin-bottom: 50px;
    font-size: 35px;
    margin-top: 0%;
}
hr{
    border: 0.5px solid #C8A96E;
    
}

#pop{
    color: #dadadae7;
    font-family: 'Inter', sans-serif;
    margin-inline-start: 60px;
    font-size: 20px;
    font-weight: 100;
    margin-top: 50px;
    text-align: center;
}
.samestyle{
    color:#c8a86e;
    text-align: left;
    font-size: 35px;
    font-family: 'Bebas Neue', sans-serif;
    margin-inline-start: 60px;
    margin-bottom: 1%;
}
.samestyle2{
    color:#c8a86e;
    text-align: left;
    font-size: 35px;
    font-family: 'Bebas Neue', sans-serif;
    margin-bottom: 0%;
}


/*conatcat*/
.fin{
    color: #302828e7;
    font-family: 'Inter', sans-serif;
    margin-inline-start: 60px;
    font-size: 20px;
    font-weight: 100;
}

#contact{
    height: 100vh;
    margin-bottom: 50px;
    padding-top: 150px
}

#con{
    background-color: #c8a86e;
    margin-inline: 50px;
    border-radius: 20px;
    padding: 12px 20px;
}
#contactus{
    margin-top: 40px;
    background-color: #c8a86e;
    margin-inline: 50px;
    border-radius: 20px;
    padding: 12px 20px;
}
#seccontact{
    background-image: url('postervid.jpg');
    background-position: left center;
    background-size: cover;
}
.bye{
    color: black;
    margin-inline: 50px;
    font-family: 'Bebas Neue', sans-serif;
}
.pbye{
    margin-inline: 50px;
    color: #302828e7;
    font-family: 'Inter', sans-serif;
    margin-inline-start: 20px;
    font-size: 20px;
    font-weight: 100;
}
li{
    color: black;
}
#tired{
    color: black;
    margin-inline-start: 80px;
}